.container{
    display: grid;
    grid-template-columns: 150px 500px 150px;

    grid-template-rows: 200px 1000px 200px;
}
.item{
    background-color: yellow;
    margin: 5px;
}
.item:nth-child(1) {
	/* 1번 라인에서 2칸 */
	grid-column: 1 / span 3;
}
.contentContainer{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, auto));
	grid-template-rows: repeat(3, minmax(100px,auto));
	grid-auto-flow: dense;
    align-items: stretch;
    justify-items: stretch;
}
.item:nth-child(1) {
	/* 1번 라인에서 2칸 */
	grid-column: 1 / span 3;
}

.classification{
    margin: 5px;
}

.contents{
    margin : 3px;
    border-style:solid;
    border-color: teal;
    border-width: 2px;
    background-image: url("./html5.png");
    background-size: cover;
}

.wrapper{width:1100px; margin:0 auto;}
.clearfix{content: ''; display: block; clear: both;}
h1{line-height: 75px; float: left;}
.menu{float:right;}
.menu li{float: left;}

.menu a{line-height: 75px;  padding: 0 15px; display:block;}
#topMenu {            
    height: 30px; 
    width: 800px; 
}
#topMenu ul li {                     
    list-style: none;           
    float: right;                
    line-height: 30px;          
    vertical-align: middle;     
    text-align: center;         
}
#topMenu .menuLink {                               
    text-decoration:none;    
   color: gray;                            
    display: block;                            
    width: 150px;                              
    font-size: 12px;                          
    font-weight: bold;                         
    
}
#topMenu .menuLink:hover {           
    color: red;                   
    
}